
.ranking-main ._1ij2R>a{display:block;}
#global-new-mall_3273968 ._9cOH{width:400px;}
div[data-spm="newuser"] .vertical-normal-card--title--1ZDXiFp{min-width: 220px;}
div.es--root--nS6Yluh,div.es--root--B_He7Vu{scrollbar-width: none; overflow:hidden;}
