<style>#glance_stop_btn.insession:before {
		  content: Stop sharing;}
		  #start-cobrowse {background:none!important;color:#0654ba;border:none;padding:0!important;font: inherit;border-bottom:1px solid #0654ba;cursor: pointer;}</style>