
#_global_header_23_{display:none;}
.unfoldShopCart ._sidecart_placeholder_23_{position: fixed; top: 0; right: 0; z-index: 990; width: 208px; height: 100%; background: #fff; border: 1px solid #ebebeb; -webkit-box-shadow: -3px 0 3px 0 rgba(0,0,0,.04); box-shadow: -3px 0 3px 0 rgba(0,0,0,.04);background-image: url('https://ae01.alicdn.com/kf/S6d426a8dcf3b480bb7d1e83ab6666db10/208x824.png'); background-repeat: no-repeat; background-size: auto;}

