.cb-text-link{color:#1866db;}
.cb-plus-menu-button{padding: 8px 10px; background: #fff; border-radius: 18px; border: 0;width: 104px;height:14px;display: inline-block; text-align: center; line-height:1; }
.cb-plus-menu-button:hover,.cb-plus-menu-button:focus, .cb-plus-menu-button:active{background: #fff;}