.default-ltr-cache-pv2edp{margin:auto;max-width:calc(
        100% - 3rem
    );display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;text-align:center;}@media screen and (min-width: 600px){.default-ltr-cache-pv2edp{max-width:calc(
            100% - 4rem
        );}}@media screen and (min-width: 960px){.default-ltr-cache-pv2edp{max-width:calc(
            100% - 4rem
        );}}@media screen and (min-width: 1280px){.default-ltr-cache-pv2edp{max-width:calc(
            83.33333333333334% - 6rem
        );}}@media screen and (min-width: 1920px){.default-ltr-cache-pv2edp{max-width:calc(
            66.66666666666666% - 6rem
        );}}@media screen and (min-width: 960px){.default-ltr-cache-pv2edp{-webkit-flex-direction:row-reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse;}}