.default-ltr-cache-1dpnjn{-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;-webkit-transform:rotate(
		0
	);-moz-transform:rotate(
		0
	);-ms-transform:rotate(
		0
	);transform:rotate(
		0
	);}@media screen and (max-width: 959.98px){.default-ltr-cache-1dpnjn{display:none;}}