
.nav-sprite-v1 .nav-sprite, .nav-sprite-v1 .nav-icon {
  background-image: url(https://m.media-amazon.com/images/G/41/gno/sprites/nav-sprite-global-1x-reorg-privacy._CB600087065_.png);
  background-position: 0 1000px;
  background-repeat: repeat-x;
}
.nav-spinner {
  background-image: url(https://m.media-amazon.com/images/G/41/javascripts/lib/popover/images/snake._CB485935058_.gif);
  background-position: center center;
  background-repeat: no-repeat;
}
.nav-timeline-icon, .nav-access-image, .nav-timeline-prime-icon {
  background-image: url(https://m.media-amazon.com/images/G/41/gno/sprites/timeline_sprite_1x._CB439968633_.png);
  background-repeat: no-repeat;
}
