.cb-text-link{color:#1866db;}
.cb-plus-menu-button{padding: 8px 14px; background: #fff; border-radius: 18px; border: 0;}
.cb-plus-menu-button:hover,.cb-plus-menu-button:focus, .cb-plus-menu-button:active{background: #fff;}